.item-squeeze{
  margin-bottom:30px;
}

.top-flex{
  display:flex;
  justify-content: space-around;
  margin-top:150px; 
}

body{
  font-family: "Roboto";
  background-size: cover;
}

.top-title{
  text-align:center;
  margin-top:10px;
  color:blue;
  font-style:italic;
  height:50px;
  font-size:70px;
}

.search-name{
  text-align:center;
}

.h-one{
  text-align:center;
  color:#336B87;
  font-size:40px;
  padding-left:40px;
}

.search-wrapper{
display:flex;
flex-direction:column;
width:300px;
}

.button{
  margin-bottom:100px;
  height:70px;
}

.wishlist-wrapper{
  display:flex;
  flex-direction:column;
  width: 500px;
  height:500px;
  margin:0 auto;
}

.MuiListItemText-root{
  text-align:center;
}

i.material.md-24{
  margin:0px;
}

.last{
  display:flex;
  flex-direction:row;
  justify-content:center;
  width:230px;
}

.item-wrapper{
  display:flex;
  justify-content:space-between;
  padding:10px;
}

.event-icon-wrapper{
  padding-top:15px;
  padding-right:10px;
  display:flex;
  flex-direction:row;
}

.icon-wrapper{
  display:flex;
  flex-direction: row;
}

.event-wrapper{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

.home-icon{
text-align:right;
padding:20px;
}

.MuiTypography-root.MuiListItemText-primary{
  font-size:30px;
  font-weight:600;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: -50px;
    margin-bottom:-90px; 
}